.repo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;

  &:first-child {
    border-top: 1px solid black;
  }
}

.link {
  text-decoration: none;
  color: black;
}

.repo_search {
  width: 100%;
}
